[submodule ".registry"]
	path = .registry
	url = https://github.com/alarm-redist/universe
	shallow = true
	branch = HEAD
[submodule "redist"]
	path = redist
	url = https://github.com/alarm-redist/redist
	shallow = true
	registered = true
